html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  /* font-family: 'Arbutus Slab', 'Gabriela'; */
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #303030f0;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px 5px 5px;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav .links img {
  width: 40px;
  height: 40px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 50px;
  padding: 0 15px;
  transition: background 0.25s ease-out;
}

nav ul li a:hover {
  background: #ffffff11;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.links a {
  text-decoration: none;
}

nav ul a:first-child {
  display: flex;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.partners {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}